<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Project</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <img src=<%= weatheremoji %>>
        <h1><%= weatherCity %></h1>
        <hr>
        <ul>
            <li>country: <%= weatherCountry %></li>
            <li>temperature: <%= weatherTemperature %>°C</li>
            <li>feels like: <%= weatherFeelsLike %>°C</li>
        </ul>
    </main>
</body>
</html>